body {
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 2%;
}

header {
    display: flex;
    justify-content: space-between;
}

.header-left {
    font-size: 120%;
}

.header-right {
    text-align: right;
}
.header-right p{
    margin: 5px 0px;
}

.header-right a {
    color: inherit;
    text-decoration: none;
    font-weight: 600;
}

a:hover {
    text-decoration: underline;
}

#main_introduce {
    text-align: center;
    margin: 8%;
}

#main_introduce h2 {
    font-size: 400%;
    font-weight: 900;
    margin: 1%;
}

#introduce_explain {
    font-size: 130%;
}

#introduce_explain a {
    color: gray;
    text-decoration: underline;
}

#main_menu {
    display: flex;
    justify-content: space-between;
}

.menu {
    width: 40%;
    padding-top: 24%; /*세로를 가로 비율에 맞춤*/
    background-color: #EBD57A;
    text-align: center;
}

#menu_left {
    margin: 0;
}

#menu_right {
    margin: 0;
}








img.github_logo {
    width: 50px; /* 원하는 너비로 설정 */
    height: auto; /* 높이를 자동으로 조정하여 비율 유지 */
}