body {
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 2%;
}

header {
    display: flex;
    justify-content: space-between;
}

.header-left {
    font-size: 120%;
}

.header-right {
    text-align: right;
}
.header-right p{
    margin: 5px 0px;
}

.header-right a {
    color: inherit;
    text-decoration: none;
    font-weight: 600;
}

a:hover {
    text-decoration: underline;
}

#main_introduce {
    text-align: center;
    margin-top: 8%;
    margin-bottom: 4%;
}

#main_introduce h2 {
    font-size: 400%;
    font-weight: 900;
    margin: 1%;
}

#introduce_explain {
    font-size: 130%;
}

#introduce_explain a {
    color: gray;
    text-decoration: underline;
}

#main_menu {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto;
}

.menu {
    width: 40%;
    text-align: center;
    aspect-ratio: 1 / 1;
    display: flex; /* Flexbox 모델을 사용 */
    justify-content: center; /* 가로 중앙 정렬 */
    align-items: center; /* 세로 중앙 정렬 */
    border-radius: 5%;
    font-size: 350%;
    font-weight: 600;
    cursor: pointer;
}

.menu:hover {
    font-size: 400%;
    background-color: rgb(253, 253, 164);
}

#menu_left {
    margin: 0;
    border: solid red 0.5rem;
}

#menu_right {
    margin: 0;
    border: solid blue 0.5rem;
}







img.github_logo {
    width: 50px; /* 원하는 너비로 설정 */
    height: auto; /* 높이를 자동으로 조정하여 비율 유지 */
}